<div class = "conyainer">
  <div class = "row">
    <div class = "col-6" mx-auto>
<h2>Sign up</h2>
<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="form-group">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, class:"nickname", id:"nickname", placeholder:"ニックネーム", maxlength:"40",class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Email"%>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <%= f.submit "Next",class:"btn btn-primary" %>

<% end %>

</div>
</div>
</div>

