<%= render 'collects/header'%>
<h1>ユーザー詳細情報</h1>

<h1>ユーザー名</h1>
<%= @user_show.nickname%>
<h1>GitHubのURL</h1>
<%= @user_detail.GitHub%>
<h1>自己紹介</h1>
<%= @user_detail.introduce%>
<h1>年齢</h1>
<%= @user_detail.age.name%>
<h1>在住の都道府県</h1>
<%= @user_detail.prefecture.name%>
<h1>習得言語、能力</h1>
<%= @user_detail.language.name%>
<h1>エンジニアの種類</h1>
<%= @user_detail.type.name%>
<h1>作りたいもの</h1>
<%= @user_detail.goal.name%>

<%= link_to '掲示板へ', new_collect_path%>
<%= link_to 'ユーザー情報編集', edit_user_registration_path%>