<div class = "container mt-5" >
  <div class = "row">
    <div class = "col-10 mx-auto" >
      <h1>ユーザー詳細情報</h1>
      <ul class="list-group">
        <li class="list-group-item">ユーザー名:<%= @user_show.nickname%></li>
        <li class="list-group-item">GitHubのURL<%= @user_detail.GitHub%></li>
        <li class="list-group-item">自己紹介<%= @user_detail.introduce%></li>
        <li class="list-group-item">年齢<%= @user_detail.age.name%></li>
        <li class="list-group-item">在住の都道府県<%= @user_detail.prefecture.name%></li>
        <li class="list-group-item">習得言語、能力<%= @user_detail.language.name%></li>
        <li class="list-group-item">エンジニアの種類<%= @user_detail.type.name%></li>
        <li class="list-group-item">作りたいもの<%= @user_detail.goal.name%></li>
      </ul>
   
      <h1>投稿一覧</h1>
      <% if @shows.present? %>
        <% @shows.each do |show| %>
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <div>
             検索した作りたい物:<%= show.goal.name %>
            </div>
            <div>
              募集中のエンジニアの種類:<%= show.type.name %>
            </div>
            <div>
             募集言語:<%= show.language.name %>
            </div>
            <div>
             募集フレームワーク:<%= show.framework.name %>
            </div>
            <%= link_to '投稿詳細ページ', collect_path(show.id) %>
          </div>
        </div>
        <% end %>
      <% end %>
      <%= link_to '掲示板へ', new_collect_path%>

    </div>
  </div>
</div>
