<% if user_signed_in? %>

<div class = "container mt-3" >
  <div class = "row">
    <div class = "col-10 mx-auto" >
      <h1 class='search_color'>作りたいものが一緒の仲間を検索しよう！</h1>
      <%= search_form_for @p, url: collects_search_path do |f| %>
      
      <div class="form-group">
        <%= f.label :goal_id_eq, '募集の習得言語' %>
        <%= f.collection_select :goal_id_eq, Goal.all, :id, :name, {}, {class:"form-control"} %>
        <%= f.submit '検索' ,class:"btn btn-success"%>
      </div>
      <% end %>

      <div class = 'border'></div>

      <h1 class = 'search_color'>チーム開発できる仲間を募集しよう(投稿フォーム)</h1>
      <%= form_with model: @collect, id: "form" do |f| %>
      <div class="form-group">
        <%= f.label "募集要項(必須)"%>
          <%= f.text_area :explanation, id: "content-1",class:"form-control posts",placeholder: '1000文字以内',maxlength: '1000' %>
        <%= f.label "作りたいもの(必須)",for:"content-2"%>
          <%= f.collection_select(:goal_id, Goal.all, :id, :name, {}, {id:"content-2",class:"form-control posts"}) %>
        <%= f.label "募集する習得言語、技能(必須)",for:"content-3"%>
          <%= f.collection_select(:language_id, Language.all, :id, :name, {}, {id:"content-3",class:"form-control posts"}) %>
        <%= f.label "募集するエンジニアの種類(必須)",for:"content-4"%>
          <%= f.collection_select(:type_id,Type.all,:id,:name, {}, {id:"content-4",class:"form-control posts"}) %>
        <%= f.label "開発フレームワーク(必須)",for:"content-5"%>
          <%= f.collection_select(:framework_id,Framework.all,:id,:name, {}, {id:"content-5",class:"form-control posts"}) %>
          <%= f.submit '投稿する',id: "submit_post",class:"btn btn-primary"%>
      </div>
      <% end %>
<% else%>
<div class = "if_login">
  <h3>ログインして投稿や検索をしよう</h3>
  <%= link_to 'ログイン', new_user_session_path,class:"btn btn-success " %>
</div>
<% end %>
 
      <div class="card" style="width: 100%;">
      <div id="list"></div>
      <% @collects.each do |collect| %>
        <div class="post">
          <div class="card-header">
            <div>
              投稿日時：<%= collect.created_at %>
            </div>
          </div>
          <div class="card-body">
            <div>
              募集要項：<%= collect.explanation%>
            </div>
            <div>
              作りたい物：<%= collect.goal.name %>
            </div>
            <div>
              求める習得言語、求める能力：<%= collect.language.name %>
            </div>
            <div>
              求めるエンジニアの種類：<%= collect.type.name %>
            </div>
            <div>
              開発フレームワーク：<%= collect.framework.name %>
            </div>
          </div>
          <div class="card-footer">
            <%= link_to '詳細画面', collect_path(collect.id)%>
          </div>
        </div>
      <% end %>
      </div>
   </div>
  </div>
</div>