<%= render 'header'%>
<h1>
  作りたいものが一緒の仲間を検索しよう！
</h1>
<%= search_form_for @p, url: collects_search_path do |f| %>
  <%= f.label :goal_id_eq, '募集の習得言語' %>
  <%= f.collection_select :goal_id_eq, Goal.all, :id, :name %>
  <%= f.submit '検索' %>
<% end %>



<h1>投稿画面</h1>
<%= form_with model: @collect, id: "form" do |f| %>
  <%= f.text_area :explanation, id: "content-1" %>
  <h1>作りたいもの</h1>
  <%= f.collection_select(:goal_id, Goal.all, :id, :name) %>
  <h2>募集する習得言語、技能</h2>
  <%= f.collection_select(:language_id, Language.all, :id, :name) %>
  <h2>募集するエンジニアの種類</h2>
  <%= f.collection_select(:type_id,Type.all,:id,:name) %>
  <h2>開発フレームワーク</h2>
  <%= f.collection_select(:framework_id,Framework.all,:id,:name) %>
  <%= f.submit '投稿する',id: "submit_post"%>
<% end %>


  <div id="list">
  </div>


<% @collects.each do |collect| %>

  <div class="post">> 
    <div class="post-date">
      投稿日時：<%= collect.created_at %>
    </div>
    <div class="post-content">
      募集要項：<%= collect.explanation %>
     </div>
    <div class="post-language">
      求める習得言語、求める能力：<%= collect.language.name %>
   </div>
    <div class="post-language">
      求めるエンジニアの種類：<%= collect.type.name %>
   </div>
    <div class="post-language">
      開発フレームワーク：<%= collect.framework.name %>
   </div>
   <%= link_to '詳細画面', collect_path(collect.id)%>
  </div>
<% end %>