<%= render 'header'%>
<h1>詳細画面</h1>

<div>投稿ユーザー
<%= link_to @collect.user.nickname, user_path(@collect.user_id) %>
</div>
<div>募集説明文
<%=  @collect.explanation %>
</div>
<div>募集言語
<%= @collect.language.name %>
</div>
<div>募集エンジニアの種類
<%= @collect.type.name %>
</div>
<div>作りたいもの
<%= @collect.goal.name %>
</div>
<div>開発フレームワーク
<%= @collect.framework.name %>
</div>


<%= link_to '戻る', new_collect_path %>
<% if current_user.id == @collect.user_id %>
<%= link_to '編集ページへ', edit_collect_path(@collect.id) %>
<%= link_to '投稿削除', collect_path(@collect.id), method: :delete %>
<% else %>

<h1>コメント投稿</h1>

<%= form_with model: @comment, url: collect_comments_path(@collect.id),id: "comment_form" do |f| %>
  <%= f.text_area :text %>
  <%= f.submit '投稿する'%>
<% end %>
<% end %>
<div id='comments'>
<% if @comments != nil %>
  <% @comments.reverse_each do |comment| %>
    <p>コメント:<%= comment.text %>   コメント投稿者<%= comment.user.nickname %></p>
  <% end %>
<% end %>
</div>
